#app {
    @media (min-width: 640px) {
        .container {
            max-width: 640px;
        }
        .sm\:grid-cols-1 {
            grid-template-columns: 1fr;
        }
        .sm\: justify-between {
            justify-content: space-between;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
        .header .top {
            .mini-search {
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }

    @media (min-width: 1024px) {
        .container {
            max-width: 1024px;
        }
        .header {
            .nav {
                display: block;
            }
            .mini-search {
                display: none;
            }
            .max-right {
                display: flex;
            }
            .mini-menu {
                display: none;
            }
        }
        .lg\:w-3\/8 {
            width: 37.5%;
        }
        .lg\:grid-cols-5 {
            grid-template-columns: repeat(5,minmax(0,1fr));
        }
        .lg\:grid-cols-2 {
            grid-template-columns: repeat(2,minmax(0,1fr));
        }
        .lg\:gap-4 {
            grid-gap: 1rem;
            gap: 1rem;
        }
        .hide-mini {
            display: block;
        }
        .hide-mini-col {
            display: table-cell;
        }
        .show-mini {
            display: none;
        }
        .text-card-title {
            font-size: 1.38rem;
        }
        .el-card__header {
            border-bottom: none;
        }
        .el-card {
            border-radius: 0.75rem;
            padding: 0.9rem 1.8rem;
            .el-card__header,.el-card__body {
              padding: 0
            }
        }
        .el-tableCard {
            padding: 0.9rem 0;
            .title-bar {
                padding-left: 1.8rem;
                padding-right: 1.8rem;
            }
        }
        /*重写radio group*/
        .el-radio-group {
            .el-radio-button__orig-radio:checked+.el-radio-button__inner {
                background-color: #004DFFFF;
                border-color: #004DFFFF;
            }
            .el-radio-button:first-child {
                .el-radio-button__inner {
                    border-radius: 0.5rem 0 0 0.5rem;
                }
            }
            .el-radio-button:last-child {
                .el-radio-button__inner {
                    border-radius: 0 0.5rem 0.5rem 0;
                }
            }
            .el-radio-button__inner {
                padding: 0;
                width: 5.5rem;
                height: 2.13rem;
                line-height: 2.13rem;
            }
        }
        /*  TODO: reset el-select */
        .el-select {
            .el-input__inner {
                height: 2.5rem;
                border-radius: 0.5rem;
                font-size: 0.88rem;
            }
        }
        /*  TODO: set margin*/
        .mt-1\.8 {
            margin-top: 1.8rem;
        }
        .mb-1\.8 {
            margin-bottom: 1.8rem;
        }
        .mb-3 {
            margin-bottom: 3rem;
        }
        /*  TODO: set padding*/
        /*  TODO: set fontSize*/
        .font-0\.88 {
            font-size: 0.88rem;
        }
    }

    @media (max-width: 1024px) {
        .header {
            .top {
                .logo {
                    .icon {
                        height: 1.5rem;
                    }
                }
            }
            .nav {
                display: none;
            }
            .max-right {
                display: none;
            }
            .mini-search {
                flex: 1;
            }
            .mini-menu {
                display: block;
            }
        }
        .top-title {
            padding-left: 12px;
        }
        .gap-2 {
            grid-gap: 0.5rem;
            gap: 0.5rem;
        }
        .grid-cols-2 {
            grid-template-columns: repeat(2,minmax(0,1fr));
        }
        .hide-mini {
            display: none;
        }
        .show-mini {
            display: block;
        }
        .hide-mini-col {
            display: none;
        }
    }
    @media (min-width: 1280px) {
        .container {
            max-width: 1280px;
        }
        .xl\:w-2\/5 {
            width: 40%;
        }
    }
}

